:root {
    --bg: #000000;
    --panel: #0b1220;
    --text: #ffffff;
    --muted: #8899a6;
    --accent: #ef4444;
    --card: #1e293b;
    --glass: rgba(255, 255, 255, 0.06);
    --success: #22c55e;
    --deleteBtn: #6fc0a8;
    --info: #f17e5b;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial;
    margin: 0;
    /* min-height: 100vh; */
    background: var(--bg);
    color: var(--text);
    padding: 24px;
    transition: background 0.25s, color 0.25s;
}

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: double;
    border-radius: 10px;
    background-color: #c3c4859a;
    position: fixed;
    width: 20%;
    right: 2%;
    
}