body {
    background-color: black;
    color: aliceblue;
}

h1 {
color: blue;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-variant: small-caps;
    color:rgba(100, 0, 255, 0.5);
}

.c1 {
    text-decoration: underline wavy;
    color: brown;
}

ul {
    color: orange;
}

#red {
    color: red;
}